<header>
    <nav>
        <ul class="header">
            <li class="back">
                <a href="<%= request.referrer %>">Back</a>
            </li>
        </ul>
    </nav>
</header>

<div>
    <% @books.each do |book|%>
      <% if book.isbn %>

        <div class="book-container">
          <a href="/info/<%= book.isbn %>">
            <img src="<%= book.cover %>">
            <div class="container-title">
              <ul>
                <li><%= book.title %></li>
                <li> ➜ Isbn: <%= book.isbn %> </li>
              </ul>

            </div>
          </a>
        </div>
      <% end %>
    <% end %>

</div>
