

<div class='info-book'>
  <div class="container-infos">

    <div class="cover-image">
      <img src="<%= @book_cover %>" width="200px">
    </div>

    <div class="book-notes">
      <h2><%= @book_title %> </h2>
      <h3>by <%= @book_author %></h3>
      <% if @book_page_count %>
        <p><%= @book_page_count %> pages</p>
      <% end %>
      <% if @book_type%>
        <p><%= @book_type %></p>
      <% end %>
      <% if @book_ratings%>
        <p> Ratings <%= @book_ratings %> // 5 </p>
      <% end %>
      <% if @book_year %>
        <p id="mydate"><%= @book_year %></p>
      <% end %>
      <% if @book_notes %>
        <p><%= @book_notes %></p>
      <% end %>
      <% if @book_likes %>
        <p><%= @book_likes.count %> like </p>
      <% end %>
    </div>

      <div class="book-actions">

        <div class="book-likes">
          <form action="/like/<%= @book_isbn %>" method="post">
            <input type="hidden" name="isbn" value="<%= @book_isbn %>">
            <input type="hidden" name="book_id" value="<%= @book_id %>">
            <button class='btn-like btn'> Like </button>
          </form>
        </div>

          <button id="btn-comment" class="btn"> Comment </button>
        <div class="post-section">
          <form action="/info/<%= @book_isbn %>" method="post">
            <input type="hidden" name="book_id" value="<%= @book_id %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <div class="comment-textarea" id="comment">
              <textarea name='body' placeholder="Add comment.."></textarea>
              <button class="btn-post btn"> &#x270d; Post </button>
            </div>

          </form>
        </div>

        <div class="comments-section">


          <% @comments.each do |comment| %>
          <h4> <%= comment.user.first_name.capitalize %> says about this book:</h4>
          <p>  <%= comment.body %> </p>
          <div class="book-delete">
            <form action="/info/<%= @book_isbn %>" method="post">
              <input type="hidden" value="delete" name="_method">
              <button class='btn-delete btn'> &#x2718; Delete</button>
            </form>
          </div>
          <% end %>
        </div> </br>

        <button class="link-edit btn">
          <a href="/info/<%= @book_isbn %>/edit">&#x270e; Edit info book </a>
        </button>
      </div>
  </div>
</div>
