<header>
    <nav>
        <ul class="header">
            <li class="back">
                <a href="<%= request.referrer %>">Back</a>
            </li>
        </ul>
    </nav>
</header>

<div class='title-list'>
  <% @books.each do |text| %>
      <% if text.isbn_10 %>

      <div class="book-container">
            <a href="/info/<%= text.isbn_10 %>">
              <img src="<%= text.image_link %>">
              <div class="container-title">
                <ul>
                  <li><%= text.title %></li>
                  <!-- <% if text.average_rating %>
                    <li>  Ratings <%= text.average_rating %> // 5 </li>
                  <% end %>
                  <li> ➜ Isbn: <%= text.isbn_10 %> </li> -->
                </ul>

              </div>
            </a>
      </div>
    <% end %>
  <%end%>
</div>
