

<div class='title-list'>
  <% @books.each do |text| %>
      <% if text.isbn_10 %>

      <div class="book-container">
            <a href="/info/<%= text.isbn_10 %>">
              <img src="<%= text.image_link %>">
              <div class="container-title">
                <ul>
                  <li><%= text.title %></li>
                  <!-- <% if text.average_rating %>
                    <li>  Ratings <%= text.average_rating %> // 5 </li>
                  <% end %>
                  <li> ➜ Isbn: <%= text.isbn_10 %> </li> -->
                </ul>

              </div>
            </a>
      </div>
    <% end %>
  <%end%>
</div>

<style media="screen">
    /* LIST PAGE */
    .title-list {
        width: 60%;
        position: absolute;
        top: 200px;
        left: 25%;
        display: inline-block;

    }
    .book-container {
        width: 200px;
        height: 400%;
        padding: 20px;
        margin-right: 20px;
        float: left;
    }
    .book-container a {
        text-decoration: none;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    .book-container ul {
        list-style: none;
        padding: 0;
    }
    .book-container li {
        line-height: 25px;
    }
    .book-container img {
        width: 150px;
        height: 200px;
    }
    .container-title {
        margin-top: 15px;
        text-align: center;
    }
</style>
