

<div class="account-details">
    <table class="info-profile">
        <tr>
            <td class="info-book-subtitle">
                Name:
            </td>
            <td>
                <%= @user.first_name.capitalize %>
            </td>
        </tr>
        <tr>
            <td class="info-book-subtitle">
                Surname:
            </td>
            <td>
                <%= @user.last_name.capitalize %>
            </td>
        </tr>
        <tr>
            <td class="info-book-subtitle">
                Email:
            </td>
            <td>
                <%= @user.email %>
            </td>
        </tr>
        <tr>
            <td class="info-book-subtitle">
                Birthday:
            </td>
            <td id="mydate">
                <%= @user.date_of_birth %>
            </td>
        </tr>
        <tr>
            <td class="info-book-subtitle">
                City:
            </td>
            <td>
                <%= @user.city.capitalize %>
            </td>
        </tr>
        <tr>
            <td class="info-book-subtitle">
                Address:
            </td>
            <td>
                <%= @user.address.capitalize %>
            </td>
        </tr>
    </table>
  <button class="link-edit btn btn-edit-link">
    <a href="/account/<%= @user.id %>/edit"> &#x270e; Edit Details</a>
  </button>

</div>

<style media="screen">
    div.account-details {
        position: absolute;
        left: 25%;
        width: 50%;
        height: 80%;
        /*color: #796053;*/
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 20px;
        border-radius: 20px;
    }

    .info-profile {
        margin-left: 150px;
        margin-top: 30px;
        text-align: center;
        line-height: 50px;
    }

    .btn-edit-link {
        position: absolute;
        bottom: 10%;
        left: 40%;
    }

</style>
